container_commands:
  01_migrate:
    command: "flask db upgrade"
    leader_only: true
  02_createsuperuser:
    command: "flask create-user-admin admin admin@example.com admin"
    leader_only: true
  03_create_app_roles:
    command: "python fixture_app_roles.py"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: run:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static